<!--管理者用、投稿一覧部分テンプレート-->
<div class='container'>
  <div class='row'>
    <div>
    <h2>ユーザー一覧</h2>
      <table class='table table-bordered border border-dark'>
        <thead class="text-white bg-dark">
          <tr>
            <th>投稿日時</th>
            <th>投稿者</th>
            <th>情報名</th>
            <th>ジャンル名</th>
          </tr>
        </thead>
        <tbody>
        <% infos.reverse_each do |info| %>
          <tr>
            <td><u><%= info.created_at.strftime('%Y/%m/%d　%H:%M') %><u></td>
            <td><%= link_to admin_user_path(info.user) do %>
                <%= info.user.name %>
                <% end %></td>
            <td><%= link_to info.title,admin_info_path(info.id) %></td>
            <td><%= info.genre.name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate infos %>
    </div>
  </div>
</div>
