<!--管理者用、投稿の編集-->
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h2 class="my-4">情報編集</h2>
  		<%= render 'layouts/errors', obj: @info %>
  		<%= form_with model: @info, url: admin_info_path(@info.id) do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: 'form-control pb-5' %>
        </div>
        <div class="form-group">
          <%= f.label :genre, class: 'col-md-6' %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "ジャンルを選択してください" %>
        </div>
        <div class="form-group">
          <%= f.submit :"変更を保存", class: 'btn btn-success col-sm-4' %>
        </div>
        <div class="form-group">
          <%= link_to '詳細へ戻る', admin_info_path(@info), class: 'btn btn-primary col-sm-4'%>
        </div>
      <% end %>
  	</div>
  </div>
</div>