<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
  		<h2 class=" pt-4">詳細情報</h2>
  		<table class='table table-bordered'>
  		  <thead class="text-white bg-dark">
          <tr>
            <th>共有日時</th>
            <th>投稿者</th>
            <th>タイトル</th>
            <th>ジャンル</th>
            <th>コメント数</th>
          </tr>
        </thead>
        <tbody>
    		  <tr>
    		    <td><u><%= @info.created_at.strftime('%Y/%m/%d　%H:%M') %><u></td>
            <td><%= link_to admin_user_path(@info.user) do %>
              <%= @info.user.name %>
              <% end %>
            </td>
            <td><%= @info.title %></td>
            <td><%= @info.genre.name %></td>

            <td class="info-comments-counter">
              コメント数: <%= @info.info_comments.count %>
            </td>
          </tr>
        </tbody>
      </table>
        <h4>内容</h4>
        <table class='table'>
        <tr>
          <td class="border border-dark"><%= @info.body %></td>
        </tr>
        <tr>
          <td>
            <%= link_to '編集する', edit_admin_info_path(@info), class: "btn btn-success" %>
            <%= link_to '削除する', admin_info_path(@info), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger"%></td>
        </tr>
      </table>
      <div class="info-comments-index">
        <%= render "admin/info_comments/index", info: @info %>
      </div>
    </div>
  </div>
</div>
