<!--グループの詳細ページ-->
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='offset-md-1 col-md-10 offset-md-1 mt-4'>
      <table class='table table-borderless'>
        <tr>
          <td width="70%"><h3><%= @group.name %></h3></td>
          <% if @group.owner_id == current_user.id %>
            <td width="15%"><%= link_to '編集', edit_group_path(@group), class: "btn btn-sm btn-success" %></td>
            <td width="15%"><%= link_to '削除', group_all_destroy_path(@group), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>

      <table class="table table-bordered mt-3 mb-5">
        <thead class="text-white bg-dark">
          <tr>
            <th width="35%">グループ名</th>
            <th width="50%">紹介文</th>
            <th width="15%"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @group.name %></td>
            <td><%= @group.introduction %></td>
              <% if @group.users.include?(current_user) %>
                <td><%= link_to '退出', group_path(@group), method: :delete, class: "btn btn-sm btn-danger" %></td>
              <% else %>
                <td><%= link_to '参加', group_join_path(@group), class: "btn btn-sm btn-success" %></td>
            <% end %>
          </tr>
        </tbody>
        </table>
        <h5>メンバー</h5>
        <table class='table table-bordered'>
        <thead class="text-white bg-dark mt-5">
          <tr>
            <th width="20%">氏名</th>
            <th width="30%">メールアドレス</th>
            <th width="25%">電話番号</th>
            <th width="25%">役職</th>
          </tr>
        </thead>
        <tbody>
          <% @group.users.each do |member| %>
          <tr>
            <td>
                <%= link_to member.name,user_path(member) %>
            </td>
            <td><%= member.email %></td>
            <td><%= member.phone_number %></td>
            <td><%= member.job %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>