<!--新規投稿フォーム部分テンプレート-->
<h5 class="mt-4 mb-3">新規情報投稿</h5>
<%= form_with model: info, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control pb-5' %>
  </div>
  <div class="form-group">
    <%= f.label :genre, class: 'col-md-6' %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "ジャンルを選択してください"%>
  </div>
  <div class="form-group">
    <%= f.submit :投稿する, class: 'btn btn-success ' %>
  </div>
<% end %>
