<!--投稿の詳細ページ-->
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <!--サイドバー-->
    <div class='side-bar col-md-3 mt-5'>

      <%= render 'public/users/sidebar', info: @info, user: @user, genres: @genres, bookmarks: @bookmarks, tags: @tags %>
    </div>

    <!--投稿の詳細-->
    <div class='col-md-8 offset-md-1 mt-4'>
  		<h3><b><%=@info.title %></b></h3><!--投稿のタイトル-->

  		  <table class='table table-borderless'>
  		    <tr>
  		      <th width="70%">
  		        <% @info.tags.each do |tag| %>
                ・<%= link_to tag.name, tag_path(tag) %>
              <% end %>
            </th>
            <th width="30%"><%= render "public/bookmarks/check", bookmarks: @bookmarks %></th><!--ブックマークの切り替えボタン-->
  		    </tr>
  		  </table>
  		<table class='table table-bordered'>
  		  <thead class="text-white bg-dark">
          <tr>
            <th width="30%">投稿日時</th>
            <th width="30%">更新日時</th>
            <th width="20%">ジャンル</th>
            <th width="20%">コメント</th>
          </tr>
        </thead>
        <tbody>
        	<tr>
    		    <td><u><%= @info.created_at.strftime('%Y/%m/%d　%H:%M') %><u></td><!--投稿日時を表示-->
    		    <td><u><%= @info.updated_at.strftime('%Y/%m/%d　%H:%M') %><u></td><!--更新日時を表示-->
            <td><%= @info.genre.name %></td><!--投稿に紐づいたジャンルを表示-->
            <td class="info-comments-counter"><%= render "public/info_comments/counter", info: @info %></td><!--コメント数の表示-->
          </tr>
        </tbody>
      </table>

      <h4 class="mt-5">内容</h4>
      <table class="table">
        <tbody>
          <tr>
            <td class="border border-dark">
              <%= Rinku.auto_link(@info.body, :all, 'target="_blank"').gsub("\r\n", "<br>").html_safe %>
              <!--投稿にURLの記述がある場合、リンクを表示させる-->
              <!--改行を反映する為にbyebugでRinku.auto_link(@info.body, :all, 'target="_blank"').html_safeを検証-->
              <!--改行一つにつき\r\nが表示されるため、gsubで<br>に変換-->
              <!--最後にhtml_safeで前記の文字列をコードとして安全だと認識させている-->
            </td>
          </tr>
          <% if @info.user == current_user %><!--ログインユーザーの投稿のみ編集・削除ボタンを表示-->
          <tr>
            <td>
              <%= link_to '投稿を編集', edit_info_path(@info), class: "btn btn-success mr-3" %>
              <%= link_to '投稿を削除', @info, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger"%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <!--メモの一覧表示-->
      <div class="memos-index mt-5">
        <%= render "public/memos/index", info: @info %>
      </div>
      <!--メモの投稿フォーム-->
      <div class="memos-form my-3">
        <%= render "public/memos/form", info: @info, memo: @memo %>
      </div>
      <!--コメントの一覧表示-->
      <div class="info-comments-index mt-5">
        <%= render "public/info_comments/index", info: @info %>
      </div>
      <!--コメントの投稿フォーム-->
      <div class="info-comments-form my-3">
        <%= render "public/info_comments/form", info: @info, info_comment: @info_comment %>
      </div>
    </div>
  </div>
</div>
