<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <div class="genre_search pt-4">
      <%= render "admin/genres/genre_search", genres: @genres %>
      </div>
      <h4 class="info_form pt-4">新規情報投稿</h4>
      <%= render 'form', info: @info_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h3 class="infos_show pt-4">詳細情報</h3>
  		<table class='table table-bordered'>
  		  <thead>
    <tr>
      <th>共有日時</th>
      <th>投稿者</th>
      <th>タイトル</th>
      <th>ジャンル</th>
      <th>ブックマーク</th>
      <th>コメント数</th>
    </tr>
  </thead>
  		  <tr>
  		    <td><u><%= @info.created_at.strftime('%Y/%m/%d　%H:%M') %><u></td>
          <td><%= link_to(@info.user) do %>
            <%= @info.user.name %>
            <% end %>
          </td>
          <td><%= link_to @info.title, @info %></td>
          <td><%= @info.genre.name %></td>
          <%= render "public/bookmarks/check", bookmarks: @bookmarks %>
          <td><%= render "public/info_comments/counter", info: @info %></td>
        </tr>
        </table>
        <h4>内容</h4>
        <table class='table'>
        <tr>
           <td><%= @info.body %></td>
           </tr>
           <tr>
           <% if @info.user == current_user %>
            <td><%= link_to '投稿を編集', edit_info_path(@info), class: "btn btn-sm btn-success edit_info_#{@info.id}" %></td>
            <td><%= link_to '投稿を削除', @info, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_info_#{@info.id}"%></td>
          <% end %>
        </tr>
      </table>
      <div class="memos-index">
        <%= render "public/memos/index", info: @info %>
      </div>
      <div>
        <%= render "public/memos/form", info: @info, memo: @memo %>
      </div>
      <div class="info-comments-index">
        <%= render "public/info_comments/index", info: @info %>
        <%= render "public/info_comments/form", info: @info, info_comment: @info_comment %>
      </div>
    </div>
  </div>
</div>