<table>
  <tbody>
      <% info.info_comments.each do |info_comment| %>
      <tr>

        <td>
          <%= link_to admin_user_path(info_comment.user) do %>
            <%= info_comment.user.name %>
          <% end %>
        </td>
        <td><%= info_comment.comment %></td>
        <td>
            <%= link_to "編集", edit_admin_info_info_comment_path(info, info_comment), class: "btn btn-danger pull-right"%>
            <%= link_to "削除する", admin_info_info_comment_path(info, info_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger pull-right", remote: true %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>