<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 px-5 px-sm-0 mx-auto">
      <div class="chat-partner col-12">
      <table class="table table-borderless" style="background-color:#fff;">
        <tr>
          <td><h3 class="mt-5"><%= @user.name %>さんとのチャット</h3></td>
          <td class= "w-30 py-3 px-5">
            <%= link_to 'ユーザー情報に戻る', user_path, class: 'btn btn-primary mt-2'%>
          </td>
        </tr>
      </table>
      </div>

      <div class="message-index messageindex col-12" id="scroll-inner" >
      <table id="message-list" class="table table-borderless ml-3 pb-5">
        <tbody class="current-message-tbody">
          <% @chats.each do |chat| %>
            <% if chat.user_id == current_user.id %>
            <tr>
              <td>
                <p class="current-message px-3" >
                  <%= safe_join(chat.message.split("\n"),tag(:br)) %>
                  <!--safe_join フォームのtext_areaに対応、改行なフォームに入力したままの文を表示させるため-->
                </p>
              </td>
              <td></td>
            </tr>
            <% else %>
            <tr>
              <td></td>
              <td class="user-message-td">
                <p class="user-message text-white px-3">
                  <%= safe_join(chat.message.split("\n"),tag(:br)) %>
                </p>
              </td>
            </tr>
            <% end %>
          <% end %>
          </tbody>
      </table>
      </div>


      <div class="chat-form border border-dark col-12 ">
        <%= form_with model: @chat,url: user_chats_path(@user.id), local: false, method: :post  do |f| %>
          <%= f.text_area :message, rows:'1', placeholder: "メッセージを入力してください" ,class: 'w-75 mt-4 ml-4' %>
          <%= f.hidden_field :room_id %>
          <%= f.submit "送信", class:"btn btn-success btn-lg  ml-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>