<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 px-5 px-sm-0 mx-auto">
      <div class="chat-partner">
      <table class="table table-borderless" style="background-color:#fff;">
        <tr>
          <td><h2 class="m-3 "><%= @user.name %>さんとのチャット</h2></td>
          <td class= "w-30 py-3 px-5">
            <%= link_to 'ユーザー情報に戻る', user_path, class: 'btn btn-primary mt-2'%>
          </td>
        </tr>
      </table>
      </div>

      <div class="message-index messageindex" id="scroll-inner" >
      <table class="table table-borderless ml-3 pb-5">
        <% @chats.each do |chat| %>
        <tbody style="background-color:#eee;">
          <% if chat.user_id == current_user.id %>
            <tr>
              <th>
                <p class="message px-3" style="text-align: left; background-color:#00EE00; border-radius: 30px;"><%= safe_join(chat.message.split("\n"),tag(:br)) %></p>
              </th>
              <th></th>
            </tr>
          <% else %>
            <tr>
              <th></th>
              <th>
                <p class="text-white px-3" style="text-align: right; background-color:#000; border-radius: 100px;"><%= safe_join(chat.message.split("\n"),tag(:br)) %></p>
              </th>
            </tr>
          </tbody>
          <% end %>
        <% end %>
      </table>
      </div>

      <div class="chat-form">
      <div class=" border border-dark" style="border-radius: 10px;">
        <%= form_with model: @chat,url: user_chats_path(@user.id), local: false, method: :post  do |f| %>
          <%= f.text_area :message, rows:'1', placeholder: "メッセージを入力してください",class: "w-75 mt-3 ml-3" %>
          <%= f.hidden_field :room_id %>
          <%= f.submit "送信", class:"btn btn-success ml-3" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>