<!--管理者用、ジャンルの新規作成・一覧表示-->
<div class="container px-5 px-sm-0">
  <div class="row">
    <h2>ジャンル設定</h2>
  </div>
  <%= render 'layouts/errors', obj: @genre %>
  <div class="row-md">
    <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
      <div class="form-group row mt-4 mb-5">
        <%= f.label :新規ジャンル, class: 'col-md-3 offset-1 text-center lead' %>
        <%= f.text_field :name, class: 'col-md-4' %>
        <%= f.submit :新規登録, class: 'btn btn-secondary col-md-2 offset-1' %>
      </div>
    <% end %>
  </div>
  <div class="row offset-md-2 col-md-8 offset-md-2">
    <table class="table table-bordere border border-dark table-center">
      <thead class="text-white bg-dark text-center">
        <tr>
          <th>ジャンル一覧</th>
           <th></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @genres.each do |genre| %>
          <tr>
            <td width="70%"><%= genre.name %></td>
            <td>
              <%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-success mr-3" %>
              <%= link_to '削除', admin_genre_path(genre), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
