<!--コメント一覧部分テンプレート-->
<h5 class=" mt-4">コメント一覧</h5>
<table class="table table-borderless">
  <% info.info_comments.each do |info_comment| %>
  <tbody>
    <tr>
      <td width="35%"><%= info_comment.created_at.strftime('%Y/%m/%d　%H:%M') %></td>
      <td width="35%">
        <%= link_to user_path(info_comment.user) do %>
          <%= info_comment.user.name %>
        <% end %>
      </td>
      <% if info_comment.user == current_user %>
      <td width="15%">
        <%= link_to "編集", edit_info_info_comment_path(info, info_comment), class: "btn btn-success pull-right"%>
      </td>
      <td width="15%">
        <%= link_to "削除", info_info_comment_path(info, info_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger pull-right", remote: true %>
      </td>
      <% end %>
    </tr>
    <tr>
      <td colspan="4">
        <%= Rinku.auto_link(info_comment.comment, :all, 'target="_blank"').gsub("\r\n", "<br>").html_safe %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
