<!--コメント一覧部分テンプレート-->
<table>
  <tbody>
  <% info.info_comments.each do |info_comment| %>
    <tr>
      <td class="p-2">
        <%= link_to user_path(info_comment.user) do %>
          <%= info_comment.user.name %>
        <% end %>
      </td>
      <td class="p-2"><%= info_comment.comment %></td>
      <td class="p-2">
        <% if info_comment.user == current_user %>
          <%= link_to "編集", edit_info_info_comment_path(info, info_comment), class: "btn btn-success pull-right"%>
          <%= link_to "削除", info_info_comment_path(info, info_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger pull-right", remote: true %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>