<% if user_signed_in? %>
  <% if @model == 'user' %>
  	<h3>ユーザー検索 "<%= @content %>"</h3>
    <%= render 'public/users/index', users: @records %>
  <% elsif @model == 'info' %>
  	<h3>情報検索 "<%= @content %>"</h3>
    <%= render 'public/infos/index', infos: @records %>
  <% end %>
<% end %>


<% if admin_signed_in? %>
  <% if @model == 'user' %>
  	<h3>ユーザー検索 "<%= @content %>"</h3>
    <%= render 'admin/users/index', users: @records %>
  <% elsif @model == 'info' %>
  	<h3>情報検索 "<%= @content %>"</h3>
    <%= render 'admin/infos/index', infos: @records %>
  <% end %>
<% end %>