<table class='table table-bordered'>
  <thead>
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>電話番号</th>
      <th>役職</th>
      <th>ステータス</th>
      <th>過去の投稿</th>
      <th>会員情報編集</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number%></td>
        <td><%= user.job %></td>

        <% if user.is_deleted %>
        <td class="text-Secondary"><b>退会済み</b></td>
        <% else %>
        <td class="text-success"><b>登録中</b></td>
        <% end %>

        <td><%= link_to '投稿一覧', admin_user_path(user) %></td>
        <td><%= link_to '編集ページへ', edit_admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate users %>