<!--管理者用、ユーザー一覧-->
<table class='table table-bordered border border-dark'>
  <thead class="text-white bg-dark">
    <tr>
      <th width="20%">氏名</th>
      <th width="25%">メールアドレス</th>
      <th width="22%">電話番号</th>
      <th width="22%">役職</th>
      <th width="11%">ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= link_to  user.name, admin_user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number%></td>
        <td><%= user.job %></td>
        <!--ユーザーの登録ステータス表示-->
        <% if user.is_deleted %>
        <td class="text-Secondary"><b>退会済み</b></td>
        <% else %>
        <td class="text-success"><b>登録中</b></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate users %>