<!--管理者用、ユーザー情報の編集-->
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2 class="mt-4"><%= @user.name %>さんの情報編集</h2>
    <%= form_with model: @user, url: admin_user_path(@user.id) do |f| %>
      <%= render 'layouts/errors', obj: @user %>
      <div class="form-group">
        <%= f.label :"氏名" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <!--<div class="form-group">
        <%#= f.label :"メールアドレス" %>
        <%#= f.email_field :email, class: "form-control" %>
      </div>-->
      <div class="form-group">
        <%= f.label :"電話番号" %>
        <%= f.text_field :phone_number, class: "form-control" %>
      </div>
     <div class="form-group">
        <%= f.label :"役職" %>
        <%= f.text_field :job, class: "form-control" %>
      </div>
      <div class="form-group">
        <%=f.label :"会員ステータス"%>
        <%= f.radio_button :is_deleted, 0, checked: true %>有効
        <%= f.radio_button :is_deleted, 1 %>退会
      </div>
      <div class="form-group">
        <%= f.submit :"編集する", class: 'btn btn-success col-sm-4' %>
      </div>
      <div class="form-group">
        <%= link_to '元のページへ', admin_users_path, class: 'btn btn-primary col-sm-4'%>
      </div>
    <% end %>
    </div>
  </div>
</div>