<% if user == current_user %>
<div class="text-center mb-3"><%= image_tag user.get_profile_image, size:'150x150',class: "rounded-circle" %></div>
<table class='table table-borderless'>
  <tr>
	  <th>氏名</th>
	  <th><%= link_to(user) do %>
          <%= user.name %>
        <% end %>
    </th>
	</tr>
	<tr>
	  <th>役職</th>
	  <th><%= user.job %></th>
  </tr>
  </table>
  <table class='table table-borderless'>
    <!--ログインユーザーの詳細ページのみ編集ボタンとフォローフォロワーの人数を表示-->
  <tr>
    <td>
      <%= link_to 'ユーザー情報編集', edit_user_path(user), class: 'btn btn-success w-100' %>
    </td>
  </tr>
  <tr>
    <td><!--フォロー・フォロワーの人数とリンク-->
      <%= render 'public/relationships/count', user: user %>
    </td>
  </tr>
</table>
<% else %><!--他のユーザーの詳細ページや投稿ページの際に表示される-->
 <div class="text-center mb-3"><%= image_tag user.get_profile_image, size:'150x150',class: "rounded-circle" %></div>
<table class='table table-borderless'>
  <tr>
	  <th>投稿者</th>
	  <th>
	    <%= link_to(user) do %>
        <%= user.name %>
      <% end %>
    </th>
	</tr>
	<tr>
	  <th>役職</th>
	  <th><%= user.job %></th>
  </tr>
</table>
<table class='table table-borderless'>
  <tr>
    <td><!--チャットへの遷移ボタン-->
      <%= render "public/chats/btn", user: user %>
    </td>
  </tr>
  <tr>
    <td><!--フォローの切り替えボタン-->
      <%= render "public/relationships/btn", user: user %>
    </td>
  </tr>
</table>
<% end %>