<!--ユーザー情報の編集ページ-->
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2 class="mt-4"><%= @user.name %>さんの情報編集</h2>
    <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/errors', obj: @user %>
      <div class="form-group">
        <%= f.label :"name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <!--<div class="form-group my-3">
        <%#= f.label :"email" %>
        <%#= f.email_field :email, class: "form-control " %>
      </div>-->
      <div class="form-group my-3">
        <%= f.label :"phone_number" %>
        <%= f.text_field :phone_number, class: "form-control" %>
      </div>
     <div class="form-group mt-3">
        <%= f.label :"job" %>
        <%= f.text_field :job, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit :"変更を保存", class: 'btn btn-success col-sm-4' %>
      </div>
      <div class="form-group">
        <%= link_to 'マイページへ', user_path, class: 'btn btn-primary col-sm-4'%>
      </div>
    <% end %>
    </div>
  </div>
</div>