<!--ユーザーの詳細-->
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <!--ジャンル検索-->
      <div class="genre_search pt-4">
        <%= render "admin/genres/genre_search", genres: @genres %>
      </div>
      <%= render 'public/relationships/count', user: @user%>
      <h5 class=" pt-4">新規情報投稿</h5>
      <%= render 'public/infos/form', info: @info%>
    </div>

    <div class='col-md-8 offset-md-1'>
      <table class='table table-borderless'>
        <tr>
          <td><h3 class=" mt-4"><%= @user.name %>さんの共有情報</h3></td>
          <td class= " w-30 p-3">
            <% if @user == current_user %><!--ログインユーザーの詳細ページのみ編集ボタンを表示-->
              <%= link_to 'ユーザー情報編集', edit_user_path(@user), class: 'btn btn-success mt-3' %>
            <% end %>
          </td>
          <td>
            <% if current_user != @user %>
              <%= link_to 'チャットを開始', user_chat_path(@user.id), class: 'btn btn-success mt-4' %>
            <% end %>
          </td>
          <td>
            <% if current_user != @user %>
              <%= render "public/relationships/btn", user: @user %>
            <% end %>
          </td>
        </tr>
      </table>

      <table class='table table-bordered border border-dark'>
        <thead class="text-white bg-dark">
          <tr>
            <th>投稿日時</th>
            <th>タイトル</th>
            <th>ジャンル名</th>
            <th>コメント数</th>
          </tr>
        </thead>
        <tbody>
        <% @infos.reverse_each do |info| %>
          <tr>
            <td><u><%= info.created_at.strftime('%Y/%m/%d　%H:%M') %><u></td>
            <td><%= link_to info.title,info_path(info.id) %></td>
            <td><%= info.genre.name %></td>
            <td><%= render "public/info_comments/counter", info: @info %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @infos %>

      <div class="bookmarks pt-4"><!--ブックマーク一覧を表示-->
        <%= render "public/bookmarks/index", bookmarks: @bookmarks %>
      </div>
    </div>
  </div>
</div>

