<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <h2><%= link_to "Information_sharing",root_path %></h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <<% if admin_signed_in? %> <!--管理者側がログイン中か確認する-->
                  <li><%= link_to "情報一覧", admin_infos_path, class: 'nav-link text-light' %></li><!--情報一覧へのリンク-->
                  <li><%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-light' %></li><!--ユーザー一覧へのリンク-->
                  <li><%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-light' %></li><!--ジャンル一覧へのリンク-->
                  <li><%= link_to "ログアウト", destroy_admin_session_path, class: 'nav-link text-light', method: :delete %></li><!--ログアウトへのリンク-->
              <% end %>
              <!--顧客側ログイン中のheader-->
              <% if user_signed_in? %> <!--顧客側がログイン中か確認する-->
                  <li><%= render 'searches/form' %></li>
                  <il><%= link_to "マイページ", user_path(current_user) ,class: 'nav-link text-light'  %></il>
                  <li><%= link_to "情報一覧", infos_path, class: 'nav-link text-light' %></li><!--商品一覧へのリンク-->
                  <li><%= link_to "ユーザー一覧", users_path, class: 'nav-link text-light' %></li><!--カートへのリンク-->
                  <li><%= link_to "ログアウト", destroy_user_session_path, class: 'nav-link text-light', method: :delete %></li><!--ログアウトへのリンク-->
              <!--顧客側のheader-->
              <% else %><!--非ログイン時に表示するheader-->
                <% unless admin_signed_in? %>
                  <li><%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light' %></li><!--新規登録へのリンク-->
                  <li><%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %></li><!--ログイン画面へのリンク-->
                  <li><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: 'nav-link text-light' %></li>
                <% end %>
              <% end %>
            </ul>
            <% unless admin_signed_in? %>
          <% end %>
      </div>
    </div>
  </nav>
</header>